<body>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="img-thumbnail">
                    <div id="inner-img">
                     <%= image_tag(root_url + "/images/" + @product.filename, size: "500x500", alt: @product.filename) %>
                     </div>
                        <div class="caption-full">
                            <h4 class="pull-right">$<%= @product.price %></h4> 
                            <h4><%=@product.name%></h4>
                            <p>Description:<%= @product.description %></p>
                            <p>Quntity:<%= @product.quantity %></p>
                        </div>
                            <div class="ratings">
                               <% if current_user != @product.store.user %>
                                <div id="star-img">
                                <%= rating_for @product, "overall", :enable_half => false,:half_show => true,:disable_after_rate => false %>
                                 <br>
                               </div>
                              <% end %>
                           </div>
                </div>
            		<% if @product.store.user_id != current_user.id %>
                        <br> <br>
                        <%= render :partial => 'comments/form', :locals => { :comment => @new_comment } %>
                    <% end %>
                    <br> <br>
		                <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>
                    
            </div>
        </div>
    </div>

    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; HomeFoods 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>
