

<p>
  <strong>Filename:</strong>
  <%= @product.filename %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Store:</strong>
  <%= @product.store %>
</p>
<%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
