<!DOCTYPE html>
<html lang="en">
<!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <% if user_signed_in? %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"></a>
    </div>
    <ul class="nav navbar-nav">
    <li><%= link_to '<span class="glyphicon glyphicon-home"></span> Home'.html_safe, root_path %></li>
     <li><%= link_to '<span class="glyphicon glyphicon-edit"></span> Manage My Store'.html_safe, stores_path %></li>
    <li><%= form_tag(query_path, method: "get") do  %>
      <%= text_field_tag(:query,nil, :size => 35)%>
      <%= select_tag(:option, options_for_select([['Near By'], ['Open Now']], selected: :option )) %>
 <%=submit_tag('Search ', :class => "btn btn-default",:style => "width:70px")%></li>
      <% end %>
      <% i = 0 %>
      <% while i < 7 %>
     <li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
      <% i = i + 1 %>
      <% end %>
      <li><%= link_to '<span class="glyphicon glyphicon-user"></span> My Profile'.html_safe,edit_user_registration_path %></li>
      <li><%= link_to '<span class="glyphicon glyphicon-log-in"></span> Logout'.html_safe, destroy_user_session_path, method: :delete %></li>
       <% end %>

    </ul>
  </div>
</nav>
</head>
<body>
<%= yield %>
</body>
</html>
