<!DOCTYPE html>
<html>
<body>
<!-- Page Content -->
  <div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Nearby</h1>
            </div>
        </div>
    <% @stores.each do |store| %>
        <div class="row">
            <div class="well">
             <%= link_to image_tag(root_url + "/images/" + store.filename, size: "130x130", alt: store.filename), store %>
              <div id="inner">
                <h3><%=store.name%></h3>
                <h4><%=store.foodType%></h4>
                <p><%=store.description%></p>
                <% if current_user != store.user %>
                <%= rating_for store, "overall", :enable_half => true,:half_show => true,:disable_after_rate => false %>
                <% end %>
              </div>
            </div>
          </div> 
        <% end %>
        </div>    
   </body>
</html>
