
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<% if @mystore.user_id == current_user.id %>
<body>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead"><%= @mystore.name %></p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Add product</a>

                    <%= link_to '<a class="list-group-item">Edit Store Information</a>'.html_safe, edit_store_path(@mystore.id) %>
                     <a href="#" class="list-group-item">Delete Store</a>
                </div>
            </div>
    <div class="col-md-9">
                <div class="row carousel-holder">

                    <div class="col-md-8">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <%= link_to image_tag(root_url + "/images/" + @mystore.filename, size: "500x300", alt: @mystore.filename), @mystore %>
                                </div>
                                <div class="item">
                                    <%= link_to image_tag(root_url + "/images/" + @mystore.filename, size: "500x300", alt: @mystore.filename), @mystore %>
                                </div>
                                <div class="item">
                                    <%= link_to image_tag(root_url + "/images/" + @mystore.filename, size: "500x300", alt: @mystore.filename), @mystore %>
                                </div>
            
                             </div>
                        </div>
                
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$24.99</h4>
                                <h4><a href="#">First Product</a>
                                </h4>
                                <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <% else %>
  
    		<%= link_to ' <div class="alert alert-info">
  <strong>Info!</strong> Our records indicate that you do not have a store, if you wish to create one and sell products click here.
</div>'.html_safe, new_store_path %> 
    <% end %>
    <!-- /.container -->

    <div class="container">
        <!-- Footer -->
        <footer>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; HomeFoods 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>