<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @store.filename %>
</p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Contactmethod:</strong>
  <%= @store.contactMethod %>
</p>

<p>
  <strong>Contactid:</strong>
  <%= @store.contactId %>
</p>

<p>
  <strong>Foodtype:</strong>
  <%= @store.foodType %>
</p>

<p>
  <strong>Description:</strong>
  <%= @store.description %>
</p>

<p>
  <strong>Fromday:</strong>
  <%= @store.fromDay %>
</p>

<p>
  <strong>Today:</strong>
  <%= @store.toDay %>
</p>

<p>
  <strong>Fromhour:</strong>
  <%= @store.fromHour %>
</p>

<p>
  <strong>Fromzone:</strong>
  <%= @store.fromZone %>
</p>

<p>
  <strong>Tohour:</strong>
  <%= @store.toHour %>
</p>

<p>
  <strong>Tozone:</strong>
  <%= @store.toZone %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @store.tags %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @store.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @store.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @store.zipcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @store.country %>
</p>

<p>
  <strong>User:</strong>
  <%= @store.user %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
